* {
    margin: 0;
}

button {
    z-index: 10;
}

#creator {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10vh;
}

#next {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10vh 20vh;
}

#previous {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10vh 20vh;    
}

#video, #image {
    position: absolute;
    height: 1152px;
    width: 2048px;
}

#player-controls {
    position: absolute;
    width: 100%;
    height: 100%
}

#player-window {
}

#player-parent {
}

.home #player {
    display: none
}