* {
    margin: 0;
}

html {
    overflow: hidden !important;
    max-height: 100vh !important;
}

body {
    background-color: black;
    height: 100vh;
}

button {
    z-index: 10;
}

#creator {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10vh;
}


.button-image {
    width: 50px
}

#home {
    position: absolute;
    /* left: 0; */
    right: 20px;
    /* bottom: 0; */
    margin: auto;
    z-index: 5;
    top: 20px;
    height: auto;
}

#previous {
    width: 120px;
    position: absolute;
    bottom: 20px;
    left: 200px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#next {
    position: absolute;
    bottom: 20px;
    right: 200px;
    width: 120px;

}


#video, #image {
    height: 1152px;
    width: 2048px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#player-controls {
    z-index: 5;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3ss ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#player-window {
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
}

#player-parent {
}

.home #player {
    display: none
}

.list-name {
    text-align: center
}

#menu-list {
    margin: auto;
}



.columns.is-vcentered {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
  }

  .list-creator-image {
    width: 50%;
    margin: auto
  }
  

img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%

}

.hexagon img {
    height: auto;
}


.li {
    overflow: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    width: fit-content;
    height: fit-content
}

.list-creator-image hexagon {
    width: fit-content;
    height: fit-content;
}

.list-link {
    width: fit-content;
    height: fit-content
}

#menu-title {
    font-size: 8em;
    text-align: center
}

#end-screen {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: none;
    z-index: -1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3ss ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#end-screen-background {
    width: 50vw;
    height: 100vh;
    margin-left: auto; 
    margin-right: auto;   

}

.end-image {
    width: 100%;
    height: auto;
    position: relative;
}

.end-image-tag {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 120px;
}

.u-absoluteCenter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .u-flexCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .u-offscreen {
    position: absolute;
    left: -999em;
  }
  .demo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .demo :first-child {
    margin-bottom: 20px;
  }
  .progress {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    height: 40vh !important;
  }
  .progress__meter,
  .progress__value {
    fill: none;
  }
  .progress__meter {
    stroke: black;
  }
  .progress__value {
    stroke: #00FF01;
  }


  .progress {
      margin: auto !important
  } 

  #home-icon-end {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 120px
  }


.hexagon {
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}  