* {
    margin: 0;
}

html {
    overflow: hidden !important;
    max-height: 100vh !important;
}

body {
    background-color: black;
    height: 100vh;
}

button {
    z-index: 10;
}

#creator {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10vh;
}

#next {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10vh 20vh;
}

#home {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;    padding: 10vh 20vh;
}

#previous {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10vh 20vh;    
}

#video, #image {
    position: absolute;
    height: 1152px;
    width: 2048px;
}

#player-controls {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3ss ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;}

#player-window {
    display: block;
    width: 100%;
    height: 100vh;
}

#player-parent {
}

.home #player {
    display: none
}

.list-name {
    text-align: center
}

#menu-list {
    height: 80vh;
    margin: auto;
}

.columns.is-vcentered {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
  }

  .list-creator-image {
    width: 50%;
    margin: auto
  }
  
img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%

}

.li {
    overflow: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

#menu-title {
    font-size: 8em;
    text-align: center
}

#end-screen {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}